@layer utils {
  column,
  [is-~="column"] {
    flex-direction: column;
  }

  row,
  column,
  [is-~="row"],
  [is-~="column"] {
    display: flex;

    &[gap-~="1"] {
      column-gap: 1ch;
      row-gap: 1lh;
    }
    &[gap-~="2"] {
      column-gap: 2ch;
      row-gap: 2lh;
    }
    &[gap-~="4"] {
      column-gap: 4ch;
      row-gap: 4lh;
    }

    &[self-~="grow"] {
      flex-grow: 1;
    }
    &[self-~="!grow"] {
      flex-grow: 1;
    }
    &[self-~="shrink"] {
      flex-shrink: 1;
    }
    &[self-~="!shrink"] {
      flex-shrink: 1;
    }
    &[self-~="!basis"] {
      flex-basis: 0;
    }

    &[align-^="start"] {
      align-items: flex-start;
    }
    &[align-^="end"] {
      align-items: flex-end;
    }
    &[align-^="center"] {
      align-items: center;
    }
    &[align-^="stretch"] {
      align-items: stretch;
    }

    &[align-$="between"] {
      justify-content: space-between;
    }
    &[align-$="start"] {
      justify-content: flex-start;
    }
    &[align-$="end"] {
      justify-content: flex-end;
    }
    &[align-$="center"] {
      justify-content: center;
    }
  }
}
